<!DOCTYPE html>
    
<html>
    <head>
        <title>The About Page</title>
        
    </head>
    <body>
        <h1>This is the About page</h1>
        <%= link_to 'Home', root_path %>
        <%= link_to 'Rufus', rufus_path %>
        <br>
        <%=link_to image_tag('honeybee.jpeg'), 'https://www.cnn.com' %>
        <br>
        <%=image_tag 'sunflower.jpg' %>
        
    </body>
    
</html>    
