<!DOCTYPE html>
<html>
    <head>
        <title>My Alpha Blog</title>
    </head>
    <style>
        
        body { background-color: yellow; }
    </style>
    <body>
        
        <h1> This is the home page!  Hope you like Yellow</h1>
        <p> <%= link_to 'About', about_path %> </p>
        <p> <%= link_to 'Rufus', rufus_path %> </p>
        <br>
        <%=image_tag 'honeybee.jpeg' %>
        <br>
        <%= link_to image_tag('sunflower.jpg'), 'www.youtube.com' %>
        
         
    </body>
    
    
</html>